* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  :root {
    --primary-color: #223c74;
    --secondary-color: #f7f9fc;
  }
  
  body {
    background: #bfcce8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 380px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    transition: 0.3s ease;
  }
  .card:hover{
    transform: translateY(-6px);
  }
  
  .card-header {
    background: linear-gradient(135deg, #2f4fb5, #223c74 );
    color: #fff;
    text-align: center;
    padding: 30px 20px;
  }
  
  .form {
    padding: 25px;
    display: none;
  }
  
  .form.active {
    display: block;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
  }
  
  .input-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .input-box i {
    margin-right: 10px;
    color: #888;
  }
  
  .input-box input {
    border: none;
    outline: none;
    width: 100%;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 18px;
  }
  
  .options a {
    color: #3b63d1;
    text-decoration: none;
  }
  
  .btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #3b63d1, #2f4fb5);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .btn:hover{
    transform: translateY(-1px);
  }
  
  .switch {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
  }
  
  .switch a {
    color: #3b63d1;
    font-weight: bold;
    text-decoration: none;
  }
  
  .terms {
    font-size: 13px;
    margin-bottom: 16px;
  }
  